@media screen and (max-width: 874px){
    #designing{
        margin-top: 30px;
    }
    .page4 a img{
        height: 50px;
        width: 100px;
    }
}

@media screen and (max-width: 424px){
    .elem-div{
        width: 60vw;
    }
}

@media screen and (max-width: 424px){
    .projects-samples img{
        max-width: 18vw;
        height: 12vh;
        
    }
}

@media screen and (max-width: 375px) {
    .projects-samples{
        justify-content: center;
        
    }
   
}


